/* ==============
  crypto
===================*/

.ccc-widget .histoTitle{
  display: none;
}
.ccc-widget div:first-child{
  border:none !important;
}
div.histoRow {
  border-bottom-color: #dddddd !important;
}
.new-user table td img, .new-user ul li img {
  margin-right: 8px;
  width: 50px;
}
