/* ==============
  General
===================*/

body {
  background: $bg-body;
  font-family: $font-primary;
  margin: 0;
  font-size: $base-font;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: $bg-body;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
  small {
    color: $lightdark4;
  }
}

h4 {
  line-height: 22px;
  small {
    color: $lightdark4;
  }
}

h5 {
  small {
    color: $lightdark4;
  }
}

b {
  font-weight: 500;
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

code {
  color: $info;
}


.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: $light9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  color: $dark;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


/* Social */
.social-links {
  li {
    a {
      -webkit-border-radius: 50%;
      background: lighten($light,4%);
      border-radius: 50%;
      color: lighten($lightdark7,15%);
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
    }
  }
}

/*ICO List countdown*/

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}
.countdown .part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 2rem;
  padding-bottom: .5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 0;
  padding-right: 0;
}
.countdown .part::before {
  content: ":";
  left: -0.25em;
  position: absolute;
  color: $lightdark-alt;
}
.countdown .part:nth-child(1)::before,
.countdown .part.no-divider::before {
  display: none;
}
.countdown .part.days::after,
.countdown .part.hours::after,
.countdown .part.minutes::after,
.countdown .part.seconds::after {
  position: absolute;
  content: attr(data-label);
  text-align: center;
  bottom: .25rem;
  left: 0;
  width: 100%;
  font-size: .3em;
  color: inherit;
}
.countdown .part + .part {
  margin-left: .625rem;
}
.countdown .days {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.countdown .hours {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.countdown .minutes {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.countdown .seconds {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.countdown.blink .part::before {
  display: none;
}